# slam_toolbox_params.yaml
slam_toolbox:
  ros__parameters:
    # Ramki referencyjne
    map_frame: map
    odom_frame: odom
    base_frame: base_link
    scan_topic: /scan
    use_sim_time: false

    map_file_name: /home/pi/slambot/src/slambot_description/maps/test
    map_start_at_dock: true

    use_scan_matching: true
    scan_queue_size: 50
    transform_timeout: 1.0

    minimum_laser_range: 0.1
    maximum_laser_range: 8.0
    odom_alpha1: 0.05
    odom_alpha2: 0.05
    odom_alpha3: 0.05
    odom_alpha4: 0.05
    odom_alpha5: 0.05

    resolution: 0.1
    publish_period_sec: 0.1
    map_update_interval: 0.1
    minimum_time_interval: 0.1
    optimize_every_n_nodes: 5

    use_pose_extrapolation: true

    max_laser_range_scaling: 1.0
    min_score: 0.6
